body {
  font-family: 'Quicksand', sans-serif;
}
form {
  margin-bottom: 10px;
}
input {
  margin-left: 10px;
  border-radius: 3px;
  outline: none;
  border: 1px solid gainsboro;
  padding: 3px;
  margin-right: 20px;
}
input:focus {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
/* consilience */
.count {
  font-weight: bold;
  margin-left: 5px;
}

/* clock */
.clock {
  width: 200px;
  height: 200px;
  border: solid 1px #b3adad;
  border-radius: 50%;
  position: relative;
  background: rgba(256, 256, 256, 0.25);
  margin: 50px 0;
}

.spire {
  position: absolute;
}

.hour {
  top: calc(50% - 37.5px);
  left: calc(50% - 2.5px);
  width: 5px;
  height: 40px;
  border-radius: 0 0 5px 5px;
  background: #333;
  z-index: 4;
  transform-origin: 2.5px 37.5px;
  transition: transform 2s ease;
}

.min {
  top: calc(50% - 67.5px);
  left: calc(50% - 2.5px);
  width: 5px;
  height: 70px;
  border-radius: 0 0 5px 5px;
  background: rgba(167, 139, 131, 1);
  z-index: 3;
  transform-origin: 2.5px 67.5px;
  transition: transform 1s ease;
}

.click-indicator{
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 15px;
    width: 230px;
    height: 230px;
}
.click-indicator div{
    position: absolute;
    width: 2px;
    height: 4px;
    margin: 85px;
    background-color: #ddd;
}
.click-indicator div:nth-child(1) {
    transform: rotate(30deg) translateY(-90px);
}
.click-indicator div:nth-child(2) {
    transform: rotate(60deg) translateY(-90px);
}
.click-indicator div:nth-child(3) {
    transform: rotate(90deg) translateY(-90px);
    background-color: #000;
}
.click-indicator div:nth-child(4) {
    transform: rotate(120deg) translateY(-90px);
}
.click-indicator div:nth-child(5) {
    transform: rotate(150deg) translateY(-90px);
}
.click-indicator div:nth-child(6) {
    transform: rotate(180deg) translateY(-90px);
    background-color: #000;
}
.click-indicator div:nth-child(7) {
    transform: rotate(210deg) translateY(-90px);
}
.click-indicator div:nth-child(8) {
    transform: rotate(240deg) translateY(-90px);
}
.click-indicator div:nth-child(9) {
    transform: rotate(270deg) translateY(-90px);
    background-color: #000;
}
.click-indicator div:nth-child(10) {
    transform: rotate(300deg) translateY(-90px);
}
.click-indicator div:nth-child(11) {
    transform: rotate(330deg) translateY(-90px);
}
.click-indicator div:nth-child(12) {
    transform: rotate(360deg) translateY(-90px);
    background-color: #000;
}

/* calculator */

.calculator {
  width: 11%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.calculator form {
  margin: 0;
  width: calc( 100% - 2px );
}
.calculator form input {
  width: 95%;
  margin: 0;
  padding: 5px 0;
  padding-left: 10px;
}
.btn-wrap {
  width: 100%;
  display: flex;
}
.btn-wrap>div {
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid gainsboro;
  padding: 5px 0;
  background: #f4f4f4;
  cursor: pointer;

}
.error {
  border: 1px solid red;
}
.success {
  border: 1px solid gainsboro;
}
.error-block {
  display: none;
  position: absolute;
  top: 3px;
  right: -85%;
  font-size: 14px;
  color: #ea4a4a;
}
